{% macro render_field(field) %}

<div class="form-group">
    <label for="{{ field.name }}" name="{{ field.name }}"> {{ field.label.text }} </label>
    {{ field(class_='form-control', **kwargs)|safe }}

</div>

{% endmacro %}

{% macro render_prefilled(field, value) %}

<div class="form-group">
    <label for="{{ field.name }}" name="{{ field.name }}" > {{ field.label.text }} </label>
     <input class="form-control" type="text" value="{{value}}">

</div>

{% endmacro %}

{% macro render_radio_fields(field) %}
<div class="form-group">
    <label class="col-lg-2 control-label">{{ field.label.text }}</label>
    <div class="col-lg-10">
    {% for subfield in field %}
    <div class="radio">
        <label>
            {{ subfield(**kwargs)|safe }}
            {{ subfield.label.text }}
        </label>
    </div>
    {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro render_radio_field(field) %}
<div class="form-group">
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label class="col-lg-2 control-label">
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ field.label.text }}
            </label>
        </div>
    {% endfor %}
    </div>
{% endmacro %}




{% macro render_checkbox(field) %}
<div style="margin-left: 1.5rem;">
 <input class="form-check-input" type="checkbox" value="{{field.label.text}}" name="rememberme" >
                <label class="form-check-label">{{field.label.text}}</label>
            </div>

{% endmacro %}