{% extends "template.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}

<body>

    <!-- Navigation -->
     

    <nav class="navbar navbar-dark bg-dark static-top" style="background-color: #416469 !important;">

         <span style="font-size: 20px; color: white; padding-left: 10px;"> My Patients </span>
        <button type="button" class="btn btn-info ml-auto"  onclick="location.href = '{{ url_for('addpatient')}}';">Add a patient</button>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" style="margin-left: 10px" type="search" placeholder="Search" aria-label="Search">
            <button type="button" class="btn btn-outline-light">Search</button>
        </form>
    </nav>
    
  
    
 
    <div class="table-responsive">
       {% if patients %}
<table class="table table-hover table-light">
  <thead  >
    <tr class="spacer" style="background-color: #678589; color: white">
      <th scope="col"></th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for patient in patients %}
    <form id="form" action="{{url_for('patientoverview', govID=patient['govID'])}}" method="POST">
    <tr class="spacer">
      <th scope="row">{{ loop.index }}</th>
      <td>{{ patient['firstname'] }}</td>
      <td>{{ patient['lastname'] }}</td>
      <td>
        <button class="fa fa-chevron-right" style="    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none; margin-right: 1rem; color: #416469;" type="submit"></button>

       <!-- <a href=""><i class="fa fa-chevron-right" style="font-size: 20px;color:#678589;"></i></a> -->

      </td>
    </tr>
  </form>
{% endfor %}
  </tbody>
</table>
{% else %}
  There are currently no questions in the database. Add some by clicking the 'Add a new question' button!
  {% endif %}
    </div>

</body>
{% endblock %}

