{% extends "template.html" %}
{% block title %}Diagnosis{% endblock %}
{% block body %}
<body>

    <nav class="navbar navbar-dark bg-dark static-top" style="background-color: #416469 !important; ">
        <div class="mr-auto">
            <a href="{{url_for(referrer,govID=patient.govID, offset=0)}}"><i class="fa fa-chevron-left" style="font-size: 20px;color:white;"></i></a> <span style="font-size: 20px; color: white; padding-left: 10px;"> Periodontal Disease Diagnosis </span>
        </div>

    </nav>
    
    <!-- Patient Info Card -->
    <div class="row" style="margin-top: 1em;">
        <div class="col-md-12">
            <div class="card" style="width: 90%; height: 10em; margin:0 auto;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
<div class="row" style="margin-top: 2em; margin-left: 1em;">
      <div class="col-2">
       <span class="form-inline mr-auto fa fa-user-circle" style="color:#b9b9b9; font-size: 50px;"></span>
      </div>
     <div class="col-10">
       <h5 class="card-title" style="color:#416469; margin-left: 1.5em;">{{patient.firstname}} {{patient.lastname}}</h5>
      </div>
    
                            </div>
                        
      

                        </div>
                        <div class="col-9">
                            <div class="row" style="margin-top: 1em;">
                                <div class="col-2 patientinfo-label">
                                    <p> Government ID </p>
                                    <p> Full Name </p>
                                </div>
                              <div class="col-2 patientinfo">
                                    <p> {{patient.govID}} </p>
                                    <p> {{patient.firstname}} {{patient.lastname}} </p>
                                </div>
                                <div class="col-2 patientinfo-label">
                                    <p> Date of birth </p>
                                    <p> Gender </p>
                                </div>
                                 <div class="col-2 patientinfo">
                                    <p> {{patient.DOB}} </p>
                                    <p> {{patient.Gender}} </p>
                                </div>
                                 <div class="col-2 patientinfo-label">
                                    <p> Type of orthodontic appliance </p>
                                </div>
                               <div class="col-2 patientinfo">
                                    <p> {{patient.OrthoType}} </p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- Patient Info Card END -->
<!-- img -->
  
    <div class="row" style="margin-top: 3em;">
        <div class="col-md-5">
            
              <div class="card" style="width: 35em; height: 23em; margin:0 auto; margin-left: 4.5em;">
  <img src="{{ url_for('static', filename='img/'+assessment.info['img']) }}" style="height: 100%; width: 100%;" alt="assessment.info['img']">
</div>

        </div>
        
        <!-- img end -->
<!-- Diagnosis Info -->
        <div class="col-md-7">
            <div class="table-responsive" style="width: 50em; height: 21.5em;">

                <table class="table table-hover w-100  d-block d-md-table" style="margin: auto;">
                    <thead>
                        <tr class="spacer" style="background-color: #678589; color: white;">

                            <th scope="col" colspan="2">Diagnosis</th>
                            <th scope="col" colspan="2" style="text-align: left">Severity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spacer">
                            <td colspan="2">{{assessment.info['diagnosis']}}</td>
                            <td colspan="2">{{assessment.info['severity']}}</td>
                        </tr>
                    </tbody>
                      <thead>
                        <tr class="spacer" style="background-color: #678589; color: white;">

                            <th scope="col">Clincal Findings</th>
                            <th scope="col" style="text-align: center">F1</th>
                            <th scope="col" style="text-align: center">F2</th>
                            <th scope="col" style="text-align: center">F3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spacer">
                            <td></td>
                             {% for a in assessment.info['CF'] %}
                            <td style="text-align: center">{{ a  }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                    <thead>
                        <tr class="spacer" style="background-color: #678589; color: white;">
                            <th scope="col" colspan="4" style="text-align: left">Plaque Levels</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spacer">
                            <td colspan="4">{{assessment.info['plaque']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
  
    <div class="row">
    <button class="btn btn-info ml-auto" onclick="location.href = '{{ url_for(referrer, govID=patient.govID, offset=0)}}';" style="margin-right: 7em; width: 10%" type="button" > Done </button>
    </div>
    <!-- Diagnosis Info END -->
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->

</body>
{% endblock %}