{% extends "template.html" %}
{% block title %}Update Patient{% endblock %}
{% block body %}

<body>


    <nav class="navbar navbar-dark bg-dark static-top" style="background-color: #416469 !important; ">
        <div class="mr-auto">
        <a href="{{ url_for('patientoverview', govID=patient.govID)}}"><i class="fa fa-chevron-left" style="font-size: 20px;color:white;"></i></a> <span style="font-size: 20px; color: white; padding-left: 10px;"> Update Patient Information </span>
        </div>
        
      

    </nav>
   
  
<div class="container h-100" style="padding-top: 3%">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
             <form class="form-example" method="POST" action="{{ url_for('updatepatient', govID=patient.govID)}}">
                  {{ render_field(form.govID, value=patient.govID) }}
                  {{ render_field(form.firstname, value=patient.firstname) }}
                  {{ render_field(form.lastname, value=patient.lastname) }}
                  {{ render_field(form.dob, value=patient.dob) }}
                  {{ render_radio_fields(form.gender) }}
                  {{ render_field(form.orthotype) }}
          
                
               <div class="col text-center">
                 <button type="submit" class="btn btn-info btn-default" style="width:50%">Update Information</button>
        
                </div>
            </form>
            <!-- Form end -->
    </div>
</div>
    
    </div>
    
</body>

{% endblock %}