{% extends "template.html" %}
{% block title %}Forgot Password{% endblock %}
{% block body %}
<body>
    <!--
    <div class="h-100 d-flex justify-content-center align-items-center" style="margin-top: 7%;">
        <div class="col-lg-3" style="margin-bottom: 5%">
            <a href="index"> <span class="fa fa-chevron-left" style="font-size: 30px;color:#868686;"></span></a>
            <h1 style="color:#868686; margin-top: 15%"> Forgot your password? </h1>
            <br><span style="color:#678589; font-size: 20px;"> No problem! Enter the email you used to sign up and we'll send you a link to reset your password</span>
        </div>
        <div>
            <card>
                <article class="card-body" style="color: #485557 !important;">
                    <h4 class="card-title mb-4 mt-1"></h4>
                    <form class="form-example" action="{{url_for('forgotpassword')}}" method="POST">
                        <div class="form-group">
                            {{ render_field(form.email)}}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block"> Send link </button>
                        </div>
                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
              {% if errors %}

             
                {%- for msg in errors %}
                 <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 1rem; font-size: 15px; text-align: center;">
                        {{msg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                {% endfor -%}
             

            {% endif %}
            {% endwith %}
                    </form>
                </article>
            </card>
        </div>
    </div>
-->

    <div class="h-100 d-flex justify-content-center align-items-center" style="margin-top: 3%; margin-right: 10rem;">
        
           <div class="col-lg-3" style="margin-bottom: 15%">
                <div class="card mx-auto" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title"><a href="index"> <span class="fa fa-chevron-left" style="font-size: 20px;color:#868686; margin-right: 1rem;"></span></a>Forgot your password?</h5>
    <p class="card-text" style="line-height: 20px;">No problem! Enter the email you used to sign up and we'll send you a link to reset your password.</p>
<form class="form-example" action="{{url_for('forgotpassword')}}" method="POST">
                        <div class="form-group">
                            {{ render_field(form.email)}}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block"> Send link </button>
                        </div>
                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
              {% if errors %}

             
                {%- for msg in errors %}
                 <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 1rem; font-size: 15px; text-align: center;">
                        {{msg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                {% endfor -%}
             

            {% endif %}
            {% endwith %}
                    </form>
              </div>
            </div>    
            </div>
           
        
    </div>

</body>

{% endblock %}

