<nav class="navbar navbar-dark bg-dark static-top" style="background-color: #678589 !important;">

        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/PeriodictLogo.png') }}" style="width: 150px; left: 15px;">
        </a>
        <p class="form-inline my-2 my-lg-0 ml-auto" style="color: white">
         Dr. Jane Doe <span class="form-inline my-2 my-lg-0 ml-auto fa fa-user-circle" style="font-size: 30px; padding-left: 8%"></span>   
        </p>
        
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" style="color: white" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">

            <!-- Links -->
            <ul class="navbar-nav ml-auto" >
                <li class="navbar-nav ml-auto">
                    <a class="nav-link" href="myaccount" style="color: white"> My Account</a>
                </li>
                <li class="navbar-nav ml-auto">
                    <a class="nav-link" href="index" style="color: white">Log Out</a>
                </li>
            </ul>
            <!-- Links -->

        </div>
    </nav>