{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<body style="overflow-y: hidden !important ;
    background: url(../static/img/office.jpg); background-repeat: no-repeat;
  background-size: cover;">

    <div class="h-100 d-flex justify-content-center align-items-center" style="margin-top: 7%;">
        
           <div class="col-lg-3" style="margin-bottom: 15%">
                <div class="card mx-auto" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <h6 class="card-subtitle mb-2 text-muted">Log into PerioDict to view your patients, start assessments, and view comparative timelines </h6>
    <p class="card-text" style="line-height: 20px;"></p>
      <form class="form-example" method="POST" action="{{ url_for('index')}}">
                <!-- Input fields -->
                {{ form.csrf_token }}
                {{ render_field(form.email, placeholder=form.email.label.text)}}
                {{ render_field(form.password, placeholder=form.password.label.text, type='password')}}
               <div class="col text-center">
                 <button type="submit" class="btn btn-info btn-default">Login</button>
                </div>
                 <a class="float-center" href="{{ url_for('forgotpassword')}}">Forgot password?</a>
            </form>
            {%  for message in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 1rem; font-size: 15px; text-align: center;">
            {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
              </div>
            </div>    
            </div>
           
        
    </div>

</body>

{% endblock %}