{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<body style="overflow-y: hidden !important ;
    background: url(../static/img/office.jpg); background-repeat: no-repeat;
  background-size: cover;">

    <div class="h-100 d-flex justify-content-center align-items-center" style="margin-top: 3%; margin-right: 10rem;">
        
           <div class="col-lg-3" style="margin-bottom: 15%">
                <div class="card mx-auto" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Reset Password</h5>
    <p class="card-text" style="line-height: 20px;"></p>
      <form class="form-example" method="POST" action="{{ url_for('resetpassword', token=senttoken)}}">
                <!-- Input fields -->
                {{ form.csrf_token }}
                {{ render_field(form.newPassword, type='password')}}
                {{ render_field(form.confirmPassword, type='password')}}
               <div class="col text-center">
                 <button type="submit" class="btn btn-info btn-default">Reset</button>
                </div>
            </form>
{% with errors = get_flashed_messages(category_filter=["error"]) %}
              {% if errors %}

             
                {%- for msg in errors %}
                 <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 1rem; font-size: 15px; text-align: center;">
                        {{msg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                {% endfor -%}
             

            {% endif %}
            {% endwith %}
              </div>
            </div>    
            </div>
           
        
    </div>

</body>

{% endblock %}